.home{
     width:100%;
    height:100vh;

    background-image: url("../assets/me.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display:flex;
    align-items:center;
    justify-content:center;
}
.home--container{
    text-align:center;
    color:white;
}